@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 800ms;
}
.logo:nth-child(4) {
    transition-delay: 1500ms;
}