@keyframes spinupwp-stack-glow-4_c_o {
  0%,
  12.747875%,
  6.090652%,
  to {
    opacity: 0;
  }
  11.473088%,
  7.365439% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-glow-3_c_o {
  0%,
  14.022663%,
  4.674221%,
  53.399433%,
  58.78187%,
  74.929178%,
  80.311615%,
  to {
    opacity: 0;
  }
  12.747875%,
  54.815864%,
  57.507082%,
  6.090652%,
  76.345609%,
  79.036827% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-glow-2_c_o {
  0%,
  15.29745%,
  3.399433%,
  52.124646%,
  60.056657%,
  73.654391%,
  81.586402%,
  to {
    opacity: 0;
  }
  14.022663%,
  4.674221%,
  53.399433%,
  58.78187%,
  74.929178%,
  80.311615% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-glow-1_c_o {
  0%,
  16.572238%,
  18.130312%,
  2.124646%,
  23.512748%,
  26.345609%,
  31.728045%,
  34.560907%,
  39.943343%,
  42.634561%,
  48.016997%,
  50.849858%,
  61.331445%,
  64.164306%,
  69.546742%,
  72.379603%,
  82.86119%,
  85.694051%,
  91.076487%,
  93.909348%,
  99.291785%,
  to {
    opacity: 0;
  }
  15.29745%,
  19.405099%,
  22.23796%,
  27.620397%,
  3.399433%,
  30.453258%,
  35.835694%,
  38.668555%,
  43.909348%,
  46.74221%,
  52.124646%,
  60.056657%,
  65.439093%,
  68.271955%,
  73.654391%,
  81.586402%,
  86.968839%,
  89.8017%,
  95.184136%,
  98.016997% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-mysql-border_c_o {
  0%,
  12.181303%,
  6.798867%,
  to {
    opacity: 0;
  }
  10.906516%,
  8.073654% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-mysql-logo_c_o {
  0%,
  12.181303%,
  6.798867%,
  to {
    opacity: 0;
  }
  10.906516%,
  8.073654% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-redis-border_c_o {
  0%,
  13.456091%,
  5.524079%,
  54.107649%,
  59.490085%,
  75.637394%,
  81.01983%,
  to {
    opacity: 0;
  }
  12.181303%,
  55.382436%,
  58.215297%,
  6.798867%,
  76.912181%,
  79.745042% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-redis-logo_c_o {
  0%,
  13.456091%,
  5.524079%,
  54.107649%,
  59.490085%,
  75.637394%,
  81.01983%,
  to {
    opacity: 0;
  }
  12.181303%,
  55.382436%,
  58.215297%,
  6.798867%,
  76.912181%,
  79.745042% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-php-border_c_o {
  0%,
  14.730878%,
  4.107649%,
  52.832861%,
  60.764873%,
  74.362606%,
  82.294618%,
  to {
    opacity: 0;
  }
  13.456091%,
  5.382436%,
  54.107649%,
  59.490085%,
  75.637394%,
  81.01983% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-php-logo_c_o {
  0%,
  14.730878%,
  4.107649%,
  52.832861%,
  60.764873%,
  74.362606%,
  82.294618%,
  to {
    opacity: 0;
  }
  13.456091%,
  5.382436%,
  54.107649%,
  59.490085%,
  75.637394%,
  81.01983% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-nginx-border_c_o {
  0%,
  16.005666%,
  18.838527%,
  2.832861%,
  24.220963%,
  27.053824%,
  32.436261%,
  35.269122%,
  40.509915%,
  43.342776%,
  48.725212%,
  51.558074%,
  62.03966%,
  64.872521%,
  70.254958%,
  73.087819%,
  83.569405%,
  86.402266%,
  91.784703%,
  94.617564%,
  to {
    opacity: 0;
  }
  14.730878%,
  20.113314%,
  22.946176%,
  28.328612%,
  31.161473%,
  36.543909%,
  39.235127%,
  4.107649%,
  44.617564%,
  47.450425%,
  52.832861%,
  60.764873%,
  66.147309%,
  68.98017%,
  74.362606%,
  82.294618%,
  87.677054%,
  90.509915%,
  95.892351%,
  98.725212% {
    opacity: 1;
  }
}
@keyframes spinupwp-stack-nginx-logo_c_o {
  0%,
  16.005666%,
  18.838527%,
  2.832861%,
  24.220963%,
  27.053824%,
  32.436261%,
  35.269122%,
  40.509915%,
  43.342776%,
  48.725212%,
  51.558074%,
  62.03966%,
  64.872521%,
  70.254958%,
  73.087819%,
  83.569405%,
  86.402266%,
  91.784703%,
  94.617564%,
  to {
    opacity: 0;
  }
  14.730878%,
  20.113314%,
  22.946176%,
  28.328612%,
  31.161473%,
  36.543909%,
  39.235127%,
  4.107649%,
  44.617564%,
  47.450425%,
  52.832861%,
  60.764873%,
  66.147309%,
  68.98017%,
  74.362606%,
  82.294618%,
  87.677054%,
  90.509915%,
  95.892351%,
  98.725212% {
    opacity: 1;
  }
}
