
.a{
    background-color: aquamarine;
    height: 1000px;
    margin: 0px;
    text-align: center;
    padding: 200px;
}

.b{
    height: 300px;
    font-size: 100px;
    left: 50%;
}

::-webkit-scrollbar
{
  width: 30px;
  background-color: rgb(151, 205, 241);
}
::-webkit-scrollbar-thumb
{
  background-color: rgb(5, 94, 145);
  border-radius: 10px;
}
